@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bg-gray-800 {
  background-color: #e5e7eb;
  width: 100%;
}

.paint {
  width: 25px;
}

.container {
  display: flex;
  gap: 25rem;
}

/* profile section*/
.profile {
  display: flex;
  align-items: center;
  margin: 20px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
}

.about {
  display: flex;
  margin: 20px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
  font-size: 20px;
}

.projects {
  display: flex;
  margin: 20px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
  font-size: 20px;
}

.jioLogo,
.eliteSoftwaresLogo,
.gravitechDreamsLogo,
.exposysLabsLogo{
  width: 5rem;
  height: 5rem;
}

.experience{
  display: flex;
  margin: 20px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
}

.skills{
  display: flex;
  margin: 20px;
  flex-direction: column;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 80%;
}

.jio,
.eliteSoftwares,
.gravitechDreams,
.exposysLabs {
  display: flex;
  margin: 20px;
  gap: 30px;
  background-color: #e5e7eb;
  border-radius: 20px;
  padding: 25px;
  width: 90%;
}

.jioDetails,
.eliteDetails,
.gravitechDetails,
.exposysDetails{
  display: flex;
  flex-direction: column;
  width: 100%;
  font-size: 20px;
}

.aboutContainer {
  display: contents;
}

.avatar {
  margin: 25px;
}

.button {
  border-color: hsl(var(--primary));
  border-width: 1px;
  will-change: transform;
  transform: scale(0.911692);
}

h1 {
  font-size: xx-large;
  font-weight: bold;
}

.languages{
  display: flex;
    border: 1px solid black;
    width: 8%;
    border-radius: 13px;
    align-items: center;
    justify-content: center;
}

.competencies{
  align-items: center;
    display: flex;
    gap: 7px;
    border: 1px solid hsl(0deg 1.27% 82.6%);
    width: fit-content;
    border-radius: 0.25rem;
    padding: 0.30rem;
}

.logo{
  width: 2.5rem;
}

.technical{
  display: flex;
  gap: 15px;
}

.skillsSection{
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.flex{
  gap: 10px;
  font-size: 1.5rem;
}

.skillsSection{
  gap: 10px;
}

.projectSkills{
  display: flex;
  gap: 10px;
}

.Map{
  display: flex;
  width: 50%;
  gap: 18px;
}

.skillsLogo{
  width: 25px;
}

.projectsSection{
  display: flex;
  width: 100%;
  gap: 10px;
}

.projects{
  gap: 20px;
}

.link{
  display: flex;
  gap: 10px;
}

.projectTitle{
  display: flex;
  flex-direction: column;
}

.IITLogo,
.SPPULogo{
  width: 5rem;
}

